
/* --------------------- GENERAL --------------------- */
html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Exo 2', sans-serif;
}

.leaflet-container{
  font-family: 'Exo 2', sans-serif;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

.white {
  color: #FFFFFF;
}

/* --------------------- SIDEBAR --------------------- */
#sidebar {
  background-color: #f6eddd;
  width: 280px;
  height: 100%;
  max-width: 100%;
  float: left;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}

.logo{
  background-color: #000;
  display: block;
  color: #fff;
  padding: 15px;
}

.logo h1{
  margin: 0px;
  font-weight: 400;
  font-size: 2.2em;
}

.sidebar-title h2 {
  font-weight: 300;
}

.sidebar-panel{
  background-color: #f6eddd;
}

.sidebar-title{
  background-color: #513e3d;
  display: block;
  color: #fff;
  padding: 8px;
}

.sidebar-title h2 {
  font-weight: 300;
  font-size: 1.8em;
  margin: 0px;
}

.sidebar-menu {
  font-weight: 200;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  margin: 0;
  padding: 0;
}

.sidebar-menu > li > a {
  text-decoration: none;
  color: #000;
  padding: 7px 5px 12px 8px;
  display: block;
}

.sidebar-menu > li > a:hover {
  background-color: #e2af24;
}

.sidebar-menu > li.active {
  background-color: #e2af24;
}

.sidebar-menu > li.active > a {
  color: #fff;
}

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-info {
  position: fixed;
  bottom: 0;
  width: 280px;
  background: #000;
  padding: 12px;
  text-align: center;
  font-size: 1.3em;
}

.footer-info, .footer-info a{
  color: #fff;
  text-decoration: none;
}

/* --------------------- SIDEBAR CRIME --------------- */

.leaflet-control > .zonal {
  background: #f6eddd;
  width: 100%;
  display: block;
  color: #000;
  padding: 10px 15px;
  padding-top: 10px;
}

.leaflet-control > .zonal h2{
  margin: 0px;
  font-weight: 400;
  font-size: 2.2em;
  text-transform: uppercase;
}

.leaflet-control > .zonal h4{
  margin: 0px;
  margin-top: 15px;
  font-weight: 200;
  font-size: 1.5em;
}

.leaflet-control > .dato-crimenes {
  background: #800026;
  width: 100%;
  display: block;
  color: #fff;
  padding: 15px;
}

.dato-crimenes h3 {
  margin: 0px;
  font-weight: 400;
  font-size: 2.2em;
}

p.crimen-nombre{
  font-size: 1.7em;
}

p.crimen-tasa{
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 300;
}

.logo-crime-container {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
}

.logo-crime {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
}

.logo-crime path {
  fill: black;
}

.crimenes{
  background: white;
  padding: 5px 15px;
}

.zonal-nombre{
  margin-top: 5px;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.zonal-dato{
  margin-top: -15px;
  padding-left: 25px;
  font-size: 1.2em;
  font-weight: 400;
}

/* ----------------------- MAP ----------------------- */
#map {
  width: auto;
  height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
    position: fixed;
    bottom:1%;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* --------------------- LOADING --------------------- */
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.progress-bar-full {
  width: 100%;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
